/* variables.css (主控文件) */
/* 参数复用 为以后的多个主题颜色配案做铺垫 */
:root {
    --theme-colors: #ff7f50;
    /* 主题色 红色 */

    /* 顶部渐变 */
    --topGradient: linear-gradient(
        to bottom,
        /* 从上到下 5 层渐变 */
        rgba(255,127,80, 1) 0%,           /* 原始色完全不透明 */
        rgba(255,115,70, 0.85) 20%,       /* 加深5% + 透明度85% */
        rgba(255,95,50, 0.8) 40%,         /* 加深15% + 透明度70% */
        rgba(255,75,30, 0.6) 60%,         /* 加深25% + 透明度50% */
        rgba(255,55,10, 0.4) 80%,         /* 加深35% + 透明度30% */
        rgba(255,35,0, 0) 100%            /* 完全透明深色底 */
      );
    --root-text-color: white;
    /* 根元素文字颜色 */
    --h2-text-color: #ff4500;

    /* a text color */
    --a-text-color: rgb(255, 120, 120);
}