<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>朝歌夜弦的博客</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/md_css.css') }}">
</head>
<body>
    <video id="video-background" autoplay muted loop>
        <source src="{{ url_for('static', filename='mp4/wallpaper.mp4') }}" type="video/mp4">
    </video>

    {# 修正 include 路径 #}
    {% include "includes/header.html" %}

    <main class="content">
        {% block content %}{% endblock %}
    </main>

    {% include "includes/footer.html" %}

    <script src="{{ url_for('static', filename='js/md_js.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lozad.min.js') }}"></script>
    
</body>
</html>